.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #3b3b3b;
   
}
.card span.card-title {
    color: #fff;
    font-size: 1.em;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: bold;
}
.card .card-image {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.logout { 
	
	color: #ffab40;
}
.card .card-content {
    /* padding: 16px; */
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 6px;
}
.card .card-action a {
    color: #1e85e6;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}
.card .card-action a:hover {
    color: #043461;
    text-decoration: none;
}

.body-bg{
background: #d6d6d6;
background: -moz-linear-gradient(left, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #d6d6d6), color-stop(50%, #f6f6f6), color-stop(100%, #ededed));
background: -webkit-linear-gradient(left, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -o-linear-gradient(left, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -ms-linear-gradient(left, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: linear-gradient(to right, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

.body-bg-home{
background: #d6d6d6;
background: -moz-linear-gradient(top, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d6d6d6), color-stop(50%, #f6f6f6), color-stop(100%, #ededed));
background: -webkit-linear-gradient(top, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -o-linear-gradient(top, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: -ms-linear-gradient(top, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
background: linear-gradient(to bottom, #d6d6d6 0%, #f6f6f6 50%, #ededed 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


