<div class="container-fluid" style="background-color:#fcbd13;height:60px" ng-init="init()">
    <div class="row">
        <div style="height:10px"></div>
        <div class="col-xs-2 visible-xs-block"></div>
        <div class="col-xs-8 visible-xs-block title_text">PEOPLE DIRECTORY SEARCH</div>
        <div class="col-xs-2 visible-xs-block" ng-click="logout()">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true" style="color:#000;float:right;right:30px;cursor:pointer" title="Logout"></span>
            <br>
            <span class="logout_link">Logout</span>
        </div>
    </div>
</div>

<!--<div class="row" style="background: #282828;/* font-family:courier; */color:white;padding: 16px;">
  <div class="col-xs-3"><img src="../../assets/images/maybank_logo.png" style="width:160px"></div>
  <div class="col-xs-6 title_text" >PEOPLE SEARCH DIRECTORY</div>
  <div class="col-xs-3" style="text-align:right;"><span class="glyphicon glyphicon-log-out" style="top:8px"></span></div>
</div>-->
<div class="container">
    <div class="row" style="padding-top:20px">
        <div class="input-group col-md-12" style="height:40px">
            <span class="input-group-addon" style="background-color: #fff;border-top-left-radius:20px;border-bottom-left-radius:20px"><span class="glyphicon glyphicon-search" ></span></span>
            <div id="custom-search-input">

                <input type="text" style="height:40px" ng-model="searchText" type="text" ng-change="search()" class="search-query form-control" id='searchText' placeholder="SEARCH" autofocus/>
            </div>
            <span class="input-group-addon" style="border-top-right-radius:20px;border-bottom-right-radius:20px" onclick="$('#filter').slideToggle();" ng-if="users.length > 0">
            
            <div id="filterText" > 
                <span class="glyphicon glyphicon-filter"></span>
        </div>
        </span>
        <span ng-if="users.length == 0" class="input-group-addon" style="border-top-right-radius:20px;border-bottom-right-radius:20px">          
        </span>
    </div>


</div>

<div>

    <div class="form-group" id='filter' style="display:none;">

        <div class="col-xs-6 col-sm-6">
            <select class="form-control left-radius" ng-model="selectedDepartment" id="selectedDepartment">
                <option value="" disabled selected>Select department</option>
                <option ng-repeat="department in departments track by $index" value="{{department}}" style="text-transform: lowercase;">{{department}}</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-6">
            <select class="form-control right-radius" ng-model="selectedTitle" id="selectedTitle">
                <option value="" disabled selected>Select department</option>
                <option ng-repeat="title in titles track by $index" value="{{title}}" style="text-transform: lowercase;">{{title}}</option>
            </select>
        </div>
    </div>
</div>
<div style="height:10px;clear:both"></div>
<div ng-if="users.length == 0" class="card-alert">
    <h4>        
        <p><span class="glyphicon glyphicon-exclamation-sign" style="padding-right:10px;color:#079EEA"></span>Need to update your information</p> <p>Department/Job Title/Reporting Manager?</p></h4>
    <br/> Contact : <a href="mailto: HRAssist@maybank.com.my" target="_top">HRAssist@maybank.com.my</a>
    <br/> If you have any questions,
    <br>Contact : <a href="mailto:workplace_technology@maybank.com.my" target="_top">workplace_technology@maybank.com.my</a>
    <div style="height:10px;clear:both"></div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:#fff;font-weight:bold;font-size:0.8em"></h4
                </div>



            <div class="card">
              
                <div class="row">
                    <div class="card_img_right">
                        <div class="card-image card-block">
                            <img id="userImage" class="img-responsive" width="100%" />
                        </div>
                    </div>
                    <div class="card_img_left">
                       

                        <span class="card-title">{{fullName}}</span>

                        <div style="height:10px;"></div>
                        <div class="row">
                            <div class="span_user_pf_title"><lable>PF Number </lable></div>
                            <div class="span_user_pf">{{accountName}}</div>
                        </div>
                    </div>


                </div>


                <div style="clear:both;height:5px"></div>

                <div class="card-content">

                    <div ng-if="designation.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Designation </lable></span>
                        <span class="card-title-text-popup">{{designation}}</span>

                    </div>
                    <div ng-if="mobile.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Mobile</lable></span>
                        <span class="card-title-text-popup">{{mobile}}</span>
                    </div>
                    <div ng-if="extensions.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Extension </lable></span>
                        <span class="card-title-text-popup">{{extensions}}</span>

                    </div>
                    <div ng-if="email.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Email</lable></span>
                        <span class="card-title-text-popup">{{email}}</span>
                    </div>

                    <div ng-if="location.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Location </lable></span>
                        <span class="card-title-text-popup">{{location}}</span>

                    </div>
                    <div ng-if="country.length > 0" class="row card-row">
                        <span class="card-title-popup"><lable>Country </lable></span>
                        <span class="card-title-text-popup">{{country}}</span>
                    </div>


                </div>
                <div class="card-action" style="background: #e6e6e6;">
                    <div class="row">
                        <div ng-class="{'disable_div': mobile.length == 0}" class="col-lg-15">
                            <a class="card_fs" href="tel:{{mobile}}" ng-class="{'btn_hyperlink_disable': mobile.length == 0}">
                                
                                <div>
                                
                                    <button class="btn btn-danger" type="button" ng-class="{'btn_disable': mobile.length == 0}">
                                    <span class="glyphicon glyphicon-phone" ng-class="{'btn_disable_icon': mobile.length == 0,'btn_icon':mobile.length != 0}"></span>
                                </button>
                                </div>
                            
                            <div class="action-text"> Mobile</div>
                            </a>
                        </div>
                        <div ng-class="{'disable_div': email.length == 0}" class="col-lg-15">
                            <a href="mailto:{{email}}" class="card_fs" ng-class="{'btn_hyperlink_disable': email.length == 0}"><div><button class="btn btn-danger" type="button" ng-class="{'btn_disable': email.length == 0}">
                                    <span class="glyphicon glyphicon-envelope" ng-class="{'btn_disable_icon': email.length == 0,'btn_icon':email.length != 0}"></span>
                                </button></div>
                                 <div class="action-text">Send mail</div></a>
                        </div>
                        <div ng-class="{'disable_div': land_phone.length == 0}" class="col-lg-15">
                            <a href="tel:{{land_phone}}" class="card_fs" ng-class="{'btn_hyperlink_disable': land_phone.length == 0}">
                                
                                <div> <button class="btn btn-danger" type="button" ng-class="{'btn_disable': land_phone.length == 0}">
                                    <span class="glyphicon glyphicon-phone-alt" ng-class="{'btn_disable_icon': land_phone.length == 0,'btn_icon':land_phone.length != 0}"></span>
                                </button></div>
                                <div class="action-text">Land line</div></a>
                        </div>

                        <div class="col-lg-15">
<!--
<button data-dismiss="modal" onclick="$('#myModal2').modal('show');">org chart
</button>
-->
                            <a class="card_fs" >
                                
                                <div> <button class="btn btn-danger" type="button"  onclick="$('#myModal2').modal('show');" ng-click="orgChart();">
                                    <span class="glyphicon glyphicon-th-list" ng-class="{'btn_icon':true}"></span>
                                </button></div>
                                <div class="action-text">Org Chart</div></a>
                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>
        <div class="overlayDiv" ng-show="detailsLoading == true">
            <img src="../../assets/images/loader.GIF">
        </div>

</div>
<div id="myModal2" class="modal fade" role="dialog" style="z-index: 1070;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="card">
                <div class="modal-header">
                    <button type="button" class="close" onclick="$('#myModal2').modal('hide');" style="margin-top:-10px">&times;</button>
                    <span class="card-title">Org chart - {{fullName}}</span>
                </div>
                <div class="card-content row card-row" style="margin-bottom: 10px;padding-bottom: 20px;">
                     <div ng-repeat="manager in orgChartFinal track by $index" ng-click="setUserDetailsFromOrgChart($index);">
                          <div class="card card-links" title="Click to View Profile">


                    <div class="card-content" style="padding:6px;text-align:center">

                        <span class="card-title" style="color:#000">{{manager}}</span>                       
<span style="float:right;top:12px;position:relative"><img src="../../assets/images/icons/arrow_left.png"></span>
                    </div>
                    </div>
                    <div ng-if="$index < orgChartFinal.length - 1" style="margin:-10px">
                        
                          <center><span class="triangle-up"></span></center>
                        
                        
                         <center> <span class="square"></span></center>
                       
                    </div>
                    </div> 
                    <div> </div>
                </div>
<!--
                <div class="card-action" style="background: #e6e6e6;">
                    <button onclick="$('#myModal2').modal('hide');">Back
                    </button>
                </div>
-->
        </div>
    </div>
        <div class="overlayDiv" ng-show="orgChartLoading == true">
            <img src="../../assets/images/loader.GIF">
        </div>

</div>

</div>
</div>
<div class="row" id='result'>
    <!-- Card Projects -->
    <div class="col-xs-12 col-xs-offset-12" ng-repeat="user in users | myFilter:selectedDepartment:selectedTitle track by $index">


        <div class="card card-links" title="Click to View Profile">
            <a data-toggle="modal" data-target="#myModal" class="openDetailsModal" ng-click="setCurrentUser($index);" style="text-decoration: none;">

                <div class="card-content" style="padding:2px 10px 2px 10px;">

                    <span class="card-title" style="color:#000">{{user.user.fullName}}</span>
                </div>

                <div class="card-action" style="padding:2px 10px 2px 10px;color:#000">
                    <lable style="color:#000;font-weight:bold;font-size:0.8em">PF Number </lable>
                    <p>{{user.user.accountName}}</p>
                    <lable style="color:#356aa0;font-weight:bold;font-size:0.8em;font-weight:bold">VIEW PROFILE</lable>
                </div>
            </a>
        </div>


    </div>
</div>
    
<script>
    $("#searchText").focus();

</script>
