<style>
    .triangle {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 30px solid #fcbd13;
        opacity: 0.9;
    }
    
    .input-group {
        padding-bottom: 20px
    }
    
    .login-form .input-group-addon {
        padding: 6px 12px;
        font-size: 16px;
        color: #000;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border-right: 0px:
    }
    
    .icon_profile {
        background: url('../../assets/images/icons/user_pf_ico.png') no-repeat
    }
    
    .icon_password {
        background: url('../../assets/images/icons/lock_ico.png') no-repeat
    }
    
    .input-radius {
        /* border-right-style: dashed; */
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    
    .logo-width {
        width: 80%
    }

</style>

<div ng-init="init()">
    <script src="../../assets/js/login.js"></script>
    <link rel="stylesheet" href="../../assets/css/login.css" />

    <div style="background-color:#fcbd13; opacity: 0.9;">
        <center><span><img class="logo-width" src="../../assets/images/maybank_logo.png"></center>  </span>
    </div>
    <center>
        <div class="triangle"></div>
    </center>

    <center>
        <div>
            <h1><bold>People Directory</bold></h1></div>
    </center>

    <form name="loginForm" class="login-form">

        <div ng-show="!valid" class="alert alert-danger" style="padding:4px !important;margin-bottom:10px;text-align: center;">
            <!--<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
            <strong>{{error_message}}</strong>
        </div>

        <div class="input-group">

            <span class="input-group-addon"><span class="icon_profile" style="height:32px;width:32px;display:block"></span></span>
            <input type="text" ng-model="username" placeholder="Maybank Email" required class="input-radius"><span class="highlight"></span><span class="bar"></span>
            <span class="bg-input-shadow"></span>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><span class="icon_password" style="height:32px;width:32px;display:block"></span></span>
            <input type="password" ng-model="password" placeholder="Password" required class="input-radius"><span class="highlight"></span><span class="bar"></span>
            <span class="bg-input-shadow"></span>
        </div>

        <button type="submit" style="height:60px" class="button buttonBlue" ng-click="redirect(loginForm)">
            <span ng-show="loginButtonText == 'Logging in...'"><img src="../../assets/images/712.GIF"></span> {{loginButtonText}}
        </button>

    </form>
    <!--    <footer>hello</footer>-->

</div>
